@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 576px) {
    .nav {
        padding: 20px;
    }
    .nav-title {
        font-size: 1.3rem;
    }
    .nav-logo{
        gap: 10px;
    }
    .nav-menu {
        display: none;
    }
    .hamburger-menu {
        display: block;
        font-size: 2rem;
    }
}